#####
# Gradle foldes and files
#####
.gradle/
gradle/
gradlew
gradlew.bat


#####
# Compiled sources
#####
*.class
bin/
build/
test-output/


#####
# Eclipse folders and files
#####
.metadata/
Servers/
.project
.classpath
.settings/


#####
# IntelliJ folders and files
#####
.idea/
*.iml

